dist/
/lista2/PrimoConsomeREST/nbproject/private/
/lista2/primo_pergunta/nbproject/private/
/lista2/primo_pergunta/build/
/lista2/PrimoConsomeREST/build/
/lista2/CalculadoraREST/nbproject/private/
/lista2/CalculadoraREST/build/